/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --content-width: 1440px;
  --page-space: 72px;

  --section-space-top: 72px;
  --section-space-bottom: 110px;

  --navbar-height: 88px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: #080808;
  color: #ffffff;

  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 850px) {
  :root {
    --page-space: 24px;

    --section-space-top: 60px;
    --section-space-bottom: 80px;

    --navbar-height: 76px;
  }
}